USE [master]
GO
/****** Object:  Database [IgpManager]    Script Date: 13/02/2020 21:37:21 ******/
CREATE DATABASE [IgpManager] ON  PRIMARY 
( NAME = N'IgpManager', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\IgpManager.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IgpManager_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\IgpManager_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IgpManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IgpManager]
GO
/****** Object:  Table [dbo].[SYS_Circuito]    Script Date: 13/02/2020 21:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_Circuito](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nCircuito] [nchar](100) NOT NULL,
	[bCircuito] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SYS_Nacion]    Script Date: 13/02/2020 21:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_Nacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nacion] [nchar](50) NULL,
 CONSTRAINT [PK_SYS_Nacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYS_Piloto]    Script Date: 13/02/2020 21:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_Piloto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nPiloto] [nchar](40) NOT NULL,
	[bPiloto] [image] NULL,
 CONSTRAINT [PK_SYS_Piloto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYS_PilotoNacion]    Script Date: 13/02/2020 21:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_PilotoNacion](
	[idPiloto] [int] NOT NULL,
	[idNacion] [int] NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[SYS_Nacion] ON 

INSERT [dbo].[SYS_Nacion] ([id], [Nacion]) VALUES (1, N'Venezuela                                         ')
INSERT [dbo].[SYS_Nacion] ([id], [Nacion]) VALUES (2, N'Ucrania                                           ')
SET IDENTITY_INSERT [dbo].[SYS_Nacion] OFF
SET IDENTITY_INSERT [dbo].[SYS_Piloto] ON 

SET IDENTITY_INSERT [dbo].[SYS_Piloto] OFF
ALTER TABLE [dbo].[SYS_PilotoNacion]  WITH CHECK ADD  CONSTRAINT [FK_SYS_PilotoNacion_SYS_Nacion] FOREIGN KEY([idNacion])
REFERENCES [dbo].[SYS_Nacion] ([id])
GO
ALTER TABLE [dbo].[SYS_PilotoNacion] CHECK CONSTRAINT [FK_SYS_PilotoNacion_SYS_Nacion]
GO
ALTER TABLE [dbo].[SYS_PilotoNacion]  WITH CHECK ADD  CONSTRAINT [FK_SYS_PilotoNacion_SYS_Piloto] FOREIGN KEY([idPiloto])
REFERENCES [dbo].[SYS_Piloto] ([id])
GO
ALTER TABLE [dbo].[SYS_PilotoNacion] CHECK CONSTRAINT [FK_SYS_PilotoNacion_SYS_Piloto]
GO
/****** Object:  StoredProcedure [dbo].[SYS_CorrelativoP]    Script Date: 13/02/2020 21:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_CorrelativoP]
@CorrelativoP int
as
	
SELECT @CorrelativoP = count(id) from SYS_Piloto

print @Correlativop
GO
/****** Object:  StoredProcedure [dbo].[SYS_DeletePiloto]    Script Date: 13/02/2020 21:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_DeletePiloto]
	
	@id as int
AS

    -- Insert statements for procedure here
DELETE  from SYS_Piloto where id=@id



GO
/****** Object:  StoredProcedure [dbo].[SYS_ExistePiloto]    Script Date: 13/02/2020 21:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_ExistePiloto]
	-- Add the parameters for the stored procedure here
@id int
	
AS

SELECT COUNT(*) FROM SYS_Piloto  WHERE id = @id

GO
/****** Object:  StoredProcedure [dbo].[SYS_InsertPiloto]    Script Date: 13/02/2020 21:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_InsertPiloto]

@nPiloto as nchar(30)



AS

Insert SYS_Piloto(nPiloto) values (@nPiloto)
 

GO
/****** Object:  StoredProcedure [dbo].[SYS_ObtenerNaciones]    Script Date: 13/02/2020 21:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_ObtenerNaciones]
	
AS
    
	SELECT * FROM SYS_Nacion


GO
/****** Object:  StoredProcedure [dbo].[SYS_SelectallPilotos]    Script Date: 13/02/2020 21:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_SelectallPilotos]
	AS

 
	SELECT * from SYS_Piloto


GO
/****** Object:  StoredProcedure [dbo].[SYS_UpdatePiloto]    Script Date: 13/02/2020 21:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE procedure [dbo].[SYS_UpdatePiloto]
(	
	@id int,
	@nPiloto varchar(30),
	@naPiloto varchar(30),
	@bPiloto image
	 
)
AS
	UPDATE SYS_Piloto
		SET nPiloto = @nPiloto, naPiloto = @naPiloto, bPiloto = @bPiloto
		WHERE id=@id

GO
USE [master]
GO
